In [0]:
data = [
    (1001, "Electronics", "Mobile", 25000, "Mumbai"),
    (1002, "Electronics", "Laptop", 65000, "Delhi"),
    (1003, "Fashion", "Shoes", 3000, "Bangalore"),
    (1004, "Home", "Mixer", 4500, "Mumbai"),
    (1005, "Fashion", "T-Shirt", 1500, "Delhi"),
    (1006, "Electronics", "Headphones", 2000, "Pune"),
    (1007, "Home", "Vacuum Cleaner", 12000, "Bangalore")
]

In [0]:
columns = ["order_id", "category", "product", "price", "city"]

In [0]:
df = spark.createDataFrame(data, columns)

In [0]:
df.show()

+--------+-----------+--------------+-----+---------+
|order_id|   category|       product|price|     city|
+--------+-----------+--------------+-----+---------+
|    1001|Electronics|        Mobile|25000|   Mumbai|
|    1002|Electronics|        Laptop|65000|    Delhi|
|    1003|    Fashion|         Shoes| 3000|Bangalore|
|    1004|       Home|         Mixer| 4500|   Mumbai|
|    1005|    Fashion|       T-Shirt| 1500|    Delhi|
|    1006|Electronics|    Headphones| 2000|     Pune|
|    1007|       Home|Vacuum Cleaner|12000|Bangalore|
+--------+-----------+--------------+-----+---------+

In [0]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- category: string (nullable = true)
 |-- product: string (nullable = true)
 |-- price: long (nullable = true)
 |-- city: string (nullable = true)

In [0]:
df.select("category","product","price").show()
#select few columns

+-----------+--------------+-----+
|   category|       product|price|
+-----------+--------------+-----+
|Electronics|        Mobile|25000|
|Electronics|        Laptop|65000|
|    Fashion|         Shoes| 3000|
|       Home|         Mixer| 4500|
|    Fashion|       T-Shirt| 1500|
|Electronics|    Headphones| 2000|
|       Home|Vacuum Cleaner|12000|
+-----------+--------------+-----+

In [0]:
#select with alias
from pyspark.sql.functions import col,sum, avg, count
df.select(col("product").alias("product_name"),col("price")).show()

+--------------+-----+
|  product_name|price|
+--------------+-----+
|        Mobile|25000|
|        Laptop|65000|
|         Shoes| 3000|
|         Mixer| 4500|
|       T-Shirt| 1500|
|    Headphones| 2000|
|Vacuum Cleaner|12000|
+--------------+-----+

In [0]:
df.filter((df.product=="Mobile")&(df.price>5000)).show()
#filter with multiple conditions

+--------+-----------+-------+-----+------+
|order_id|   category|product|price|  city|
+--------+-----------+-------+-----+------+
|    1001|Electronics| Mobile|25000|Mumbai|
+--------+-----------+-------+-----+------+

In [0]:
df.groupBy("category").agg(sum("price").alias("Total_PRice")).show()
#group by and aggregate
#df.groupBy("category").agg(sum("price")

+-----------+-----------+
|   category|Total_PRice|
+-----------+-----------+
|Electronics|      92000|
|    Fashion|       4500|
|       Home|      16500|
+-----------+-----------+

In [0]:
df.orderBy(df.price.desc()).show()

+--------+-----------+--------------+-----+---------+
|order_id|   category|       product|price|     city|
+--------+-----------+--------------+-----+---------+
|    1002|Electronics|        Laptop|65000|    Delhi|
|    1001|Electronics|        Mobile|25000|   Mumbai|
|    1007|       Home|Vacuum Cleaner|12000|Bangalore|
|    1004|       Home|         Mixer| 4500|   Mumbai|
|    1003|    Fashion|         Shoes| 3000|Bangalore|
|    1006|Electronics|    Headphones| 2000|     Pune|
|    1005|    Fashion|       T-Shirt| 1500|    Delhi|
+--------+-----------+--------------+-----+---------+